body {
    align-items: center;
    background-color:#16a085 ;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    min-height: 500px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    background-color: beige;
    border-radius: 2px;
    box-shadow: 0,5px,8px rgba(red, green, blue, alpha);
}
