body {
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/55/91/national-flag-ghana-designed-using-brush-vector-22315591.jpg) ;
    background-position: center;
    background-size: cover;
    align-items: center;
    background-color:#16a085 ;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    min-height: 400px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    background-color:rgb(0,0,0,0.6);
    border-radius: 8px;
    box-shadow: 0,5px,8px rgba(red, green, blue, alpha);
}
.header {
    background-color: white;
    margin-top: 40px;
    margin-right: 70px;
    margin-bottom: 30px;
    margin-left: 70px;
    border-bottom: 3px rgb(85, 94, 104);
    padding: 0px,20px,20px,20px;
}
.form {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.form-control {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.form-control input {
    border: 10px, 10px dodgerblue;
    border-radius: 5px;
    font-size: 18px;
    
}
.form-control label {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}
.form button {
    background-color:#cd8a32;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
}
